{% extends "base.html" %}
{% load static component_tags %}

{% block title %}{{ site_brand_name }}{% endblock %}

{% block extra_heads %}
    <link rel="stylesheet" href="{% static 'css/pages/index.css' %}">
{% endblock %}

{% block content %}
{% include "pages/index_components/home-section.html" %}
{% include "pages/index_components/recent-products-section.html" %}
{% include "pages/index_components/root-categories-section.html" %}
{% include "pages/index_components/site-footer-section.html" %}
{% endblock %}
